body {
  background-color: black;
}

.position-absolute {
  background-color: orangered;
  font-size: medium;
}


.Reg-text {
  cursor: pointer;
  color: white;
  font-size: x-small;
  display: flex;
  gap: 0.3rem
}

.btn-text {
  cursor: pointer;
  font-size: smaller;
  font-weight:700;
  color: orangered;
}
 .btn {
  background-color: white;
 }

 btn:hover{
   background-color: orange;
 }